{% extends 'core/base.html' %}

{% block title %}Log in{% endblock title %}

{% block content %}
    <h2 class="text-2xl font-bold mb-4 flex justify-center mt-4">Reset Password</h2>
<form method="post" class="mx-auto  bg-white p-8 rounded shadow-md w-1/2">

    {% csrf_token %}

    <div class="mb-4">
            <label for="{{ form.email.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
            <input type="text" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" placeholder="Enter the email" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded">Reset the password</button>

</form>
{% endblock content %}