{% extends 'core/base.html' %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
    <h2 class="text-2xl text-center font-bold mb-4 mt-4">Sign Up</h2>
    <form method="post" class="mx-auto  bg-white p-8 rounded shadow-md w-1/2">

        {% csrf_token %}

        <div class="mb-4">
            <label for="{{ form.first_name.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">First Name</label>
            <input type="text" id="{{ form.first_name.id_for_label }}" name="{{ form.first_name.name }}" placeholder="Your first name" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            {% if form.first_name.errors %}
                {% for error in form.first_name.errors %}
                    <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="mb-4">
            <label for="{{ form.last_name.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Last Name</label>
            <input type="text" id="{{ form.last_name.id_for_label }}" name="{{ form.last_name.name }}" placeholder="Your last name" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            {% if form.last_name.errors %}
                {% for error in form.last_name.errors %}
                    <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="mb-4">
            <label for="{{ form.email.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
            <input type="email" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" placeholder="Your last name" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            {% if form.email.errors %}
                {% for error in form.last_name.errors %}
                    <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

         <div class="mb-4">
            <label for="{{ form.password1.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
            <input type="password" id="{{ form.password1.id_for_label }}" name="{{ form.password1.name }}" placeholder="Enter the password" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            {% if form.password1.errors %}
                {% for error in form.password1.errors %}
                    <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="mb-4">
            <label for="{{ form.password2.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Password Repeat</label>
            <input type="password" id="{{ form.password2.id_for_label }}" name="{{ form.password2.name }}" placeholder="Repeat the password" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            {% if form.password2.errors %}
                {% for error in form.password2.errors %}
                    <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded">Register</button>
        <br><br>
        <a href="{% url 'home' %}" class="text-blue-500">Home</a>

    </form>
{% endblock content %}
